name: Semgrep Reusable Scan (Default)

on:
  workflow_call:
    inputs:
      scan_path:
        required: false
        default: "."
        type: string

permissions:
  contents: read
  security-events: write

jobs:
  semgrep:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Semgrep
        run: |
          python3 -m pip install --upgrade pip
          pip install semgrep

      - name: Run Semgrep (default auto config)
        run: |
          echo "Running Semgrep default scan on: ${{ inputs.scan_path }}"
          semgrep \
            --config auto \
            ${{ inputs.scan_path }} \
            --sarif \
            --severity ERROR \
            --baseline-ref origin/main \
            --output semgrep.sarif

      - name: Upload SARIF
        if: always() && hashFiles('semgrep.sarif') != ''
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: semgrep.sarif
